
.diary-row{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr; /*Two equal-width columns;
    grid-gap: 10px; /* Gap between columns */
    padding: 10px;
     width:100%; 
}


  .diary-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin: 10px;
  }
  
  .diary-column .calendar{
    background-color: rgb(255, 255, 255);
  }

  .diary-column .calendar img{
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
  }

  .diary-column .emotion img {
    width: 35vw;
    height: 55vh;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 280px;
  }

  .diary-column .notes{
    display: flex;
    flex-direction: column;
    background-size: 20vw;
    background-color:  #d1bde8;
    width: 38vw;
    height: fit-content;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    margin-left: 265px;
    justify-content: flex-start;

  }

  .react-datepicker__navigation--previous {
    left: 2px;
}
.diary-column .notes h2{
  color: rgb(41, 2, 71);
  font-family: cursive;
  font-weight: bold;
}

 .diary-column .notes input{
  max-width: 560px;
 }
  .diary-column .notes p{
    color: rgb(41, 2, 71);
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .diary-column .notes input{
    display: inline-flex;
    
  }

  .diary-column img{
    margin-bottom: 20px;
  }


  .diary-column .notes .btns{
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .diary-column .notes .btn-2 button{
  width: 150px;
   margin-left: 20px;
   background-color: #F1E5E5;
   margin-top: 20px;
   border-color: black; 
   color: rgb(0, 0, 0);
   padding: 5px 0px;
   text-decoration: none;
   border-radius: 5px;
   
  }

  .diary-column .notes .btn-3 button{
    width: 150px;
     margin-left: 20px;
     background-color: #4CAF50;
     margin-top: 20px;
     border-color: black; 
     color: white;
     padding: 5px 0px;
     text-decoration: none;
     border-radius: 5px;
     
    }

  @media (max-width:768px) {
    .diary-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 10px;
    }

    .diary-column{
      display: flex;
      flex-direction: column;
    }
    .diary-column .emotion {
      display: flex;
    }

    .diary-column .emotion img{
      width: 90vw;
      height: 40vh;
      margin-left: 0;
    }

    .diary-column .calendar{
      margin-top: 20px;
      padding: 10px;
    }

    .diary-column .calendar img{
      width: 90vw;
      height: 30vh;
    }

    .diary-column .notes{
      display: flex;
      flex-direction: column;
      background-size: 20vw;
      background-color: #d1bde8;
      width: 92vw;
      padding: 10px;
      border-radius: 10px;
      margin-left: 0px;
      justify-content: flex-start;
      margin-bottom: 60px;
      margin-top: 50px;
      white-space: normal;
    }

    .diary-column .notes input{
      max-width: 400px;
     }

     .diary-column .notes .btn-2 button{
      width: 120px;
     } 

     .diary-column .notes .btn-3 button{
      width: 120px;
     }
     
  
  }



   


